*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
}

.header a {
  color: black;
}

.logo {
  font-size: 40px;
  margin: 40px 0;
  font-weight: 400;
  flex-grow: 1;
}

.logo a {
  text-decoration: none;
}

.logo span {
  color: #1abc9c;
}

.cart-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.cart {
  border: 1px solid #ddd;
  font-size: 18px;
  margin: 40px 0;
  padding: 16px;
  position: relative;
  color: black;
}

.cart:hover{
  background-color: #1abc9c;
  border-color: #1abc9c;
  cursor: pointer;
}

.cart:hover a,
.cart:hover span{
  color: #fff;
}

.cart:hover .cart-products{
  background: black;
}

.cart a {
  text-decoration: none;
}

.cart-amount {
  color: #1abc9c;
  font-weight: 700;
}

.cart-icon {
  margin-left: 15px;
}

.cart-products {
  background: #1abc9c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 18px;
  padding-top: 3px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 20px;
}

.navigation {
  background: #1abc9c;
}

.navigation-list {
  display: flex;
  width: 100%;
}

.navigation-list .navigation-item {
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

.navigation-item:last-child {
  margin-left: auto;
}

.navigation-list .navigation-item a {
  text-decoration: none;
  color: #fff;
}

.navigation-list .navigation-item input[type="text"] {
  width: 200px;
  padding: 2px 0 2px 5px;
  border: none;
}

.navigation-list .navigation-item input[type="submit"] {
  display: none;
}

.navigation-list .navigation-item label {
  position: relative;
  right: 25px;
}

.navigation-list .navigation-item label:hover {
  cursor: pointer;
}

.active {
  background: black;
}

.picture-area {
  height: 700px;
  background: url("https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80");
  background-size: 100%;
  position: relative;
}

.picture-area::before {
  content: "";
  height: 125px;
  width: 100%;
  position: absolute;
  background: linear-gradient(to left bottom, transparent 50%, #1abc9c 50%);
  z-index: 3;
  bottom: 0;
}

.picture-area::after {
  content: "";
  background: rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.picture-content {
  position: absolute;
  z-index: 3;
  right: 5%;
  padding: 30px;
  width: 50%;
  margin-top: 100px;
  background: rgba(0,0,0,0.4);
}

.picture-content h2 {
  font-size: 45px;
  font-weight: 200;
  color: #fff;
  margin-bottom: 30px;
  z-index: 5;
}

.picture-content p {
  line-height: 1.6;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  z-index: 5;
}

.picture-wrapper {
  width: 1170px;
  margin: 0 auto;
  
}

.promo-area {
  background: #1abc9c;
  padding: 80px 0 130px;
  position: relative;
}

.promo-area::before {
  content: "";
  height: 125px;
  width: 100%;
  position: absolute;
  background: linear-gradient(to left bottom, transparent 50%, #fff 50%);
  z-index: 3;
  bottom: 0;
}

.promo {
  list-style: none;
  display: flex;
  text-align: center;
}

.single-promo {
  width: 25%;
  padding: 25px 0;
  font-size: 25px;
  font-weight: 200;
  color: #fff;
}

.single-promo i {
  font-size: 50px;
  margin-bottom: 10px;
}

.single-promo:hover {
  background-color: #000;
  cursor: pointer;
}

.new-products,
.top-products {
  padding-top: 50px;
  text-align: center;
}

.top-products {
  padding-top: 70px;
}

.new-products h3,
.top-products h3 {
  font-size: 50px;
  color: #1abc9c;
  padding-bottom: 50px;
}

.products {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
}

.products .single-product {
  padding: 10px 10px;
  width: 20%;
  background: rgba(1, 1, 1, 0.02);
}

.products .single-product img {
  width: 200px;
  height: 300px;
}

.products .single-product h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.products .single-product a {
  text-decoration: none;
  color: black;
}

.products .single-product a h4,
.products .single-product a:hover {
  color: #1abc9c;
}

.products .single-product span {
  text-decoration: line-through;
  padding-right: 20px;
  font-size: 12px;
}

.products .single-product i {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.products .single-product p {
  margin-bottom: 30px;
}

.check-product {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.check-product:hover {
  border: 2px solid #1abc9c;
  cursor: pointer;
  color: #1abc9c;
}

.check-product i {
  display: inline-block;
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 26px;
  text-align: center;
  background: #1abc9c;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: #fff;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #1abc9c;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
}

.breadcrumbs a:hover {
  color: #1abc9c;
}

.breadcrumbs li {
  margin-right: 5px;
}

.breadcrumbs li:not(:first-child)::before {
  padding: 0 5px;
  color: #000;
  content: "/\00a0";
}

.main-products {
  padding: 120px 0;
}

.goods {
  display: flex;
  flex-wrap: nowrap;
}

.goods-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex: 0 1 70%;
  background: #fff;
}

.goods-filters {
  flex: 0 0 30%;
  padding: 0 10px 10px;
  text-align: center;
}

.goods-list .single-good {
  padding: 10px 10px;
  width: 25%;
  background: rgba(1, 1, 1, 0.02);
  border: 1px solid #fff
}

.goods-list .single-good img {
  width: 180px;
  height: 280px;
}

.goods-list .single-good h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.goods-list .single-good a {
  text-decoration: none;
  color: #000;
}

.goods-list .single-good a h4,
.goods-list .single-good a:hover {
  color: #1abc9c;
}

.goods-list .single-good p span {
  text-decoration: line-through;
  padding-right: 20px;
  font-size: 12px;
}

.goods-list .single-good i {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.goods-list .single-good p {
  margin-bottom: 30px;
}

.characteristics .single-char {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-size: 18px;
}

.characteristics .single-char span {
  font-weight: bold;
}

.characteristics .single-char:last-child {
  border-bottom: none;
}

.goods-list .single-good .check-product {
  display: block;
  margin-top: 10px;
}

.goods-filters h5 {
  background: rgba(1, 1, 1, 0.02);
  padding: 15px 20px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 16px;
}

.goods-filters .filter-box {
  text-align: left;
  padding: 20px;
  font-size: 18px;
  border: 1px solid rgba(1, 1, 1, 0.02);
}

.goods-filters .filter-box input {
  display: none;
}

.goods-filters .filter-box label:hover {
  cursor: pointer;
}

.goods-filters .filter-box label {
  position: relative;
}

.goods-filters .filter-box label:hover {
  color: #1abc9c;
}

.goods-filters .filter-box label::after {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  content: "\2713";
  left: 2px;
  display: none;
}

.goods-filters .filter-box .single-filter {
  margin-bottom: 10px;
}

.goods-filters .filter-box .single-filter:last-child {
  margin-bottom: 0;
}

.checkout {
  text-align: center;
  margin: 40px 0;
}

.checkout h3 {
  font-size: 28px;
  color: #1abc9c;
  margin-bottom: 20px;
}

.checkout .checkout-bag {
  padding: 0 10px;
}

.checkout .checkout-bag .checkout-header {
  font-weight: bold;
}

.checkout .checkout-bag .checkout-header,
.checkout .checkout-bag .checkout-good {
  list-style: none;
  display: flex;
  padding: 20px 0;
  font-size: 18px;
}

.checkout .checkout-bag .checkout-good {
  justify-content: space-around;
  align-items: center;
  background: rgba(1, 1, 1, 0.02);
  margin-bottom: 10px;
}

.checkout .checkout-bag .checkout-good {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout .checkout-bag .checkout-good img {
  width: 80px;
  height: 120px;
}

.checkout .checkout-bag .checkout-header li,
.checkout .checkout-bag .checkout-good li {
  min-width: 20%;
}

.checkout .checkout-bag .checkout-good li input[type="button"],
.product-box .product-info .product-quantity input[type="button"] {
  border: none;
  background: #1abc9c;
  padding: 5px 10px;
  color: #fff;
}

.checkout .checkout-bag .checkout-good li input[type="button"]:hover,
.product-box .product-info .product-quantity input[type="button"]:hover {
  cursor: pointer;
  background: #000;
}

.checkout .checkout-bag .checkout-good li input[type="number"],
.product-box .product-info .product-quantity input[type="number"] {
  border: 1px solid #1abc9c;
  padding: 5px;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.checkout .checkout-bag .checkout-good a {
  text-decoration: none;
  color: #000;
}

.checkout .checkout-bag .checkout-good a:hover {
  color: #1abc9c;
}

.single-product {
  margin: 40px 0;
}

.product-box {
  display: flex;
  padding: 20px;
}

.product-box .product-image,
.product-box .product-info {
  padding: 10px;
}

.product-box .product-image img {
  width: 400px;
  height: 560px;
}

.product-box .product-info h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.product-box .product-info h5 {
  font-size: 26px;
  color: #1abc9c;
  margin-bottom: 20px;
}

.product-box .product-info p {
  line-height: 1.6;
  font-size: 18px;
  font-weight: 200;
  border-top: 1px solid rgba(1, 1, 1, 0.02);
}

.product-box .product-info .product-quantity {
  margin: 40px 0 40px;
}

.product-features {
  padding: 20px;
  text-align: center;
}

.product-features h4 {
  font-size: 26px;
  color: #1abc9c;
  margin-bottom: 20px;
}

.product-features .characteristics .single-char {
  padding: 20px 0;
  background:rgba(0, 0, 0, 0.02)
}
.product-features .characteristics .single-char:not(:last-child) {
  margin-bottom: 10px;
}

.authorization .form {
  width: 300px;
  margin: 100px auto;
  padding: 20px 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
} 

.form input {
  width: 100%;
  padding: 5px 10px;
}

.form label {
  margin-bottom: 30px;
}

.form div {
  text-align: center;
}

.form div a {
  font-size: 18px;
  color: #000;
}

.form div a:hover {
  color: #1abc9c;
}

.form input[type="text"],
.form input[type="password"] {
  border: 1px solid #fff;
  font-size: 16px;
  border-radius: 5px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border: 1px solid #1abc9c;
}

.form input[type="submit"] {
  border: 1px solid #fff;
  background:  #1abc9c;
  color: #fff;
  width: 200px;
  margin: 0 auto 30px;
}

.form input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid #1abc9c;
  background: #000;
  border-radius: 5px;
  
}

